@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmB4ieXqn5sxcc0ixSVLvpi83LLJOdgBIwYA&usqp=CAU');
  color: black;
  text-align: center;
  margin-top: 100px;
}
.card {
   margin: 5px;
   width: 18rem;
 }
#main-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}
.btn {
  background-color: white;
  color: black
}
.btn:hover {
  background-color: black; 
  color: white;
}
