@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


body {
  background-color: rgb(66, 176, 250);
  color: BLUE;
  text-align: center;
  margin-top: 100px;
}

#main-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}
